* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: black;
}

section {
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: auto;
}
section > #header {
  width: 90%;
  overflow-x: hidden;
  position: fixed;
  z-index: 500;
}
section > #header > nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}
section > #header > nav > figure:nth-of-type(1) {
  padding-left: 100px;
}
section > #header > nav > figure:nth-of-type(2) {
  background-color: white;
  padding: 15px 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
section > .home {
  width: 100%;
  color: white;
  min-height: 100vh;
  position: relative;
}
section > .home > h1 {
  top: 140px;
  right: 0;
  font-size: 8vw;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding-left: 150px;
}
section > .home > .info {
  width: 100%;
  top: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section > .home > .info > p {
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 385px;
  right: 0px;
  padding-right: 900px;
}
section > .home > .info > figure {
  width: 200px;
  height: 200px;
  margin: 0 25px;
  transform: scale(1);
  position: fixed;
  top: 285px;
}
section > .home > .info > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid gray;
}
section > .home > .info > ul {
  display: flex;
  align-items: center;
  position: fixed;
  top: 385px;
  left: 0;
  padding-left: 900px;
}
section > .home > .info > ul > li {
  list-style-type: none;
  margin: 0 15px;
}
section > .home > .job {
  top: 500px;
  left: 0;
  padding-right: 200px;
  text-align: right;
  position: fixed;
  width: 100%;
}
section > .home > .job > h2 {
  font-size: 7vw;
  text-transform: uppercase;
}
section > .home > .job > p {
  font-size: 2vw;
  color: gray;
}

.scroll {
  width: 100%;
  min-height: 27000px;
  position: relative;
  z-index: 10000;
}

.sec2 {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(194, 26, 26, 0);
  position: absolute;
  top: 100vh;
  color: rgb(255, 255, 255);
}
.sec2 > h2 {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 15%;
}
.sec2 > p {
  width: 50%;
  font-size: 2.5vw;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 50px;
}

.pic2 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.pic2 > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 10px solid gray;
}

.sec3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  left: 0;
  top: 200vh;
}
.sec3 > h2 {
  font-size: 30vw;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.psec4 {
  position: absolute;
  width: 100%;
  height: 700vh;
  top: 300vh;
  overflow-x: hidden;
}
.psec4 > .sec4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f78a3e;
  opacity: 0;
}
.psec4 > figure > img {
  width: 700px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 52;
}
.psec4 > .psub1 {
  position: relative;
  top: 70%;
  right: 0;
  margin-right: 230px;
  z-index: 51;
  width: 20%;
}
.psec4 > .psub1 > .sub1 {
  text-shadow: 0 0 5px black;
  font-size: 25px;
}
.psec4 > .pro1 {
  width: 200%;
  position: absolute;
  left: 0;
  top: 70%;
  font-size: 5VW;
  z-index: 52;
  text-align: right;
}

.psec5 {
  position: absolute;
  width: 100%;
  height: 1000vh;
  top: 1000vh;
  overflow-x: hidden;
}
.psec5 > .sec5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #55d68b;
  opacity: 0;
}
.psec5 > figure > img {
  width: 700px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 52;
}
.psec5 > .psub2 {
  position: relative;
  top: 35%;
  right: 0;
  margin-right: -400px;
  z-index: 51;
  width: 20%;
}
.psec5 > .psub2 > .sub2 {
  text-shadow: 0 0 5px black;
  font-size: 25px;
}
.psec5 > .pro2 {
  width: 200%;
  position: absolute;
  left: 0;
  top: 35%;
  margin-left: 900px;
  font-size: 5VW;
  z-index: 52;
  text-align: right;
}

.psec6 {
  position: absolute;
  width: 100%;
  height: 1300vh;
  top: 2000vh;
  overflow-x: hidden;
}
.psec6 > .sec6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(247, 149, 193);
  opacity: 0;
}
.psec6 > figure > img {
  width: 700px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 52;
}
.psec6 > .psub3 {
  position: relative;
  top: 35%;
  right: 0;
  margin-right: -800px;
  z-index: 51;
  width: 20%;
}
.psec6 > .psub3 > .sub3 {
  text-shadow: 0 0 5px black;
  font-size: 25px;
}
.psec6 > .pro3 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  margin-left: 1800px;
  font-size: 5VW;
  z-index: 52;
  text-align: right;
}/*# sourceMappingURL=master.css.map */